/* START GLOBAL RULES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #5b5b5b;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* font-family: "TASA Explorer", sans-serif; */
}


.container {
    width: 96%;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}


@media (min-width: 992px) {
    .container {
        width: 800px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1100px;
    }
}

/* END GLOBAL RULES */
.container .path {
    margin-bottom: 40px;
}

.container .content {
    display: flex;
    justify-content: space-between;
}

.container .main-content {
    flex-basis: 75%;
}

@media (max-width: 767px) {
    .container .main-content {
        flex-basis: 70%;
    }
}

.container .main-content>img {
    width: 100%;
    height: 200px;

}

@media (max-width: 771px) {
    .container .main-content>img {
        width: 100%;
        height: auto;

    }
}

.container .main-content .filters-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 50px;
    background-color: #f0f0f0;
    padding: 10px 7px;
    font-size: 14px;
}

.container .main-content .filters-bar .display-manner {
    display: flex;
    align-items: center;
}

@media (max-width: 998px) {
    .container .main-content .filters-bar {
        flex-direction: column;
    }

    .container .main-content .filters-bar .display-manner {
        margin-bottom: 10px;
    }
}



.container .main-content .filters-bar .display-manner .display-1 {
    width: 30px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.288);
    border-radius: 50%;
    margin-right: 8px;
    display: grid;
    grid-template-columns: 4px 4px 4px;
    grid-template-rows: 4px 4px 4px;
    padding: 10px;
    cursor: pointer;
}

.container .main-content .filters-bar .display-manner .display-1 span {
    display: inline-block;
    width: 2px;
    height: 2px;
    background-color: white;
}

.container .main-content .filters-bar .display-manner .display-2 {
    width: 30px;
    height: 30px;
    background-color: black;
    border-radius: 50%;
    margin-right: 30px;
    padding: 9px;
    cursor: pointer;
}

.container .main-content .filters-bar .display-manner .display-2 span {
    display: block;
    width: 12px;
    height: 1.4px;
    background-color: white;
    margin-bottom: 3px;

}

.container .main-content .filters-bar .show-and-sort>span:last-of-type {
    margin-left: 24px;
}

.container .main-content .filters-bar .show-and-sort select {
    border: none;
    outline: none;
    margin-left: 8px;
    font-size: 11px;
    padding: 5px;
}



.container .main-content .products .product {
    display: flex;
    align-items: center;
}

@media (max-width: 767px) {
    .container .main-content .products .product {
        display: flex;
        flex-direction: column;
    }
}

.container .main-content .products .product .prod-img {
    position: relative;
}

.container .main-content .products .product .prod-img::before {
    content: "-12%";
    position: absolute;
    top: -45px;
    right: 45px;
    background-color: red;
    color: white;
    border-radius: 50%;
    font-size: 11px;
    font-weight: bold;
    padding: 10px 6px;
}

.container .main-content .products .product .prod-img img {
    width: 250px;
    margin-right: 30px;
}

@media (max-width: 767px) {
    .container .main-content .products .product .prod-img img {
        width: 180px;
        margin-right: 30px;
    }
}


.container .main-content .products .product .product-infos .rating-stars i {
    font-size: 12px;
    color: #FFC107;
    margin-bottom: 10px;
}

.container .main-content .products .product .product-infos h3 {
    margin-bottom: 10px;
}

.container .main-content .products .product .product-infos h5 {
    margin-bottom: 10px;
    font-weight: normal;
}

.container .main-content .products .product .product-infos .pricing {
    margin-bottom: 10px;
}

.container .main-content .products .product .product-infos .pricing span:first-child {
    font-size: 13px;
    font-weight: bold;
    text-decoration: line-through;
    margin-right: 5px;
}

.container .main-content .products .product .product-infos .pricing span:last-child {
    font-weight: bold;
    color: red;

}

.container .main-content .products .product .product-infos p {
    margin-bottom: 13px;
}


.container .main-content .products .product .product-infos .user-to-prd-actions i {
    padding: 9px;
    box-shadow: 1px 1px 3px -1px;
    font-size: 14px;
    cursor: pointer;
}

.container .sidebar {
    flex-basis: calc(25% - 20px);
}

@media (max-width: 767px) {
    .container .sidebar {
        flex-basis: calc(30% - 20px);
    }
}

.container .sidebar .sidebar-part {
    border: 3px solid #efeeee;
    padding: 20px 16px;
    margin-bottom: 20px;
}

.container .sidebar .sidebar-part h5 {
    position: relative;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.container .sidebar .sidebar-part h5::after {
    content: "";
    position: absolute;
    width: 40px;
    height: .5px;
    background-color: red;
    left: 0;
    bottom: 0;
    transform: translateY(10px);
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
}

.container .sidebar .sidebar-part h5 {
    text-transform: uppercase;
}

.container .sidebar .sidebar-part .categories,
.container .sidebar .sidebar-part .colors {
    margin-top: 40px;
}

.container .sidebar .sidebar-part .categories .category,
.container .sidebar .sidebar-part .colors .color {
    margin-bottom: 14px;
    font-size: 14px;
}

.container .sidebar .sidebar-part .categories .category .category-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.list-arrow {
    font-size: 8px;
    transform: rotate(270deg) scaleY(2);
    -webkit-transform: rotate(270deg) scaleY(2);
    -moz-transform: rotate(270deg) scaleY(2);
    -ms-transform: rotate(270deg) scaleY(2);
    -o-transform: rotate(270deg) scaleY(2);
}

.rotate-arrow {
    transform: rotate(90deg) scaleY(2);
    -webkit-transform: rotate(90deg) scaleY(2);
    -moz-transform: rotate(90deg) scaleY(2);
    -ms-transform: rotate(90deg) scaleY(2);
    -o-transform: rotate(90deg) scaleY(2);
}


.container .sidebar .sidebar-part .categories .category .menu {
    margin: 5px 0 0 15px;

}

.menu {
    display: none;
}

.show-list {
    display: block;
}



.container .sidebar .sidebar-part .categories .category .menu a {
    display: block;
    text-decoration: none;
    color: #5b5b5b;
    margin-bottom: 5px;
}

.container .sidebar .sidebar-part .colors .color span:first-child {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-bottom: -1px;
    margin-right: 2px;
    box-shadow: 1px 0px 4px -1px;
}